<%# the line below will attribute the value of @article to obj %>

<%# I have replaced all @article to obj so it is generic and can be re-used for other models %>
<%# and then I've linked obj to @article at the beginning of _form.html.erb %>

<%= render "shared/errors", obj: @article %>

<div class="row">

  <div class="col-sm-12">

    <%= form_for @article do |f| %>

      <div class="form-group row">

        <div class="col-form-label col-sm-2">

          <%= f.label :title %>

        </div>

        <div class="col-sm-8">

          <%= f.text_field :title, class: "form-control", placeholder: "Insert Title", autofocus: true %>

        </div>

      </div>

      <div class="form-group row">

        <div class="col-form-label col-sm-2">

          <%= f.label :description %>

        </div>

        <div class="col-sm-8">

          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter content..." %>

        </div>

      </div>

      <div class="form-group row">

        <div class="col-sm-2 offset-2">

          <%= f.submit class: "btn btn-primary btn-lg btn-xlarge btn-danger" %>

        </div>

        <div class="col-sm-3 ">

          <%= link_to "Cancel & Return", articles_path, class: "btn btn-primary btn-lg btn-xlarge btn-danger" %>

        </div>


      </div>



    <% end %>


  </div>

</div>
