<h2 align="center"> Title: <%= @article.title %> </h2>


<div class="card col-xs-8 mt-4">


  <%# this part of the code won't show if there's no
      user associated with the article
  %>
  <% if @article.user %>

    <ul class="listing">

      <div class="row mt-4 center">

        <div class="col-md-4 offset-4 mb-n3">

          <li>Created by:</li>

          <!--image-->
          <li>

            <%= link_to gravatar_for(@article.user), user_path(@article.user) if @article.user %>
            <%# user_path(user) will link to users#show, which will display
                  the user's page
            %>

          </li>
          <!--end image-->


          <!--username-->
          <li class="article-title">

            <%= link_to @article.user.username, user_path(@article.user) %>
            <%# user_path(user) will link to users#show, which will display
                  the user's page
            %>

          </li>
          <!--end username-->


          <!--display how many articles that user has, if any-->
          <li>

            <small>

              <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
              <%# pluralize will make the work article plural if there's more
                    than one article associated to that user.
                    This will only appear if the user has any articles.
              %>

            </small>

          </li>
          <!--end articles count-->

        </div>

      </div>

    </ul>


  <% end %>
  <%# end if @article.user
      this above part of the code won't show if there's no user
      associated with the article
  %>



  <h4 class="center description card-title pt-4">
    <strong>
      Description:
    </strong>
  </h4>

  <hr>

  <div class="card-body">

    <div class="card-text">

      <%= simple_format(@article.description) %>
      <%# the simple_format will display the formatting that I used
      to create an article like returns and tabs, for example%>

    </div>

  </div>


  <div class="article-actions list-group list-group-flush">

    <div class="list-group-item">


      <% if logged_in? && current_user == @article.user %>

        <%# this will create a restriction where only the owner of the article can edit and/or delete it.
              It first checks if the user is logged in and then it compares the current_user against the article.user
              If they are not the same, the buttons won't be displayed%>

        <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary btn-xlarge btn-danger" %>

        <%= link_to "Delete this article", article_path(@article), method: :delete,
                    data: {confirm: "Are you sure?"},
                    class: "ml-3 btn btn-primary btn-xlarge btn-danger" %>

      <% end %>

      <%= link_to "View all articles", articles_path, class: "ml-3 btn btn-primary btn-xlarge btn-danger" %>

    </div>

  </div>


</div>